.Pagination {
  font-size: 1.17rem;
  font-weight: 400;
  white-space: nowrap;
  user-select: none;
}

.grayedOutPageNumber {
  opacity: 0.5;
}

.PaginationLink {
  font-weight: 600;
}

.PaginationLinkDisabled {
  color: black;
  opacity: 0.33;
}

.PaginationLinkEnabled {
  composes: Link from "../Styled/Links.module.css";
}

.PaginationLinkEnabled:hover {
  text-decoration: none;
  color: #024ca0;
}
