.RepoListView {
  margin-top: 3.5rem;
}

.content {
  min-height: 60px;
  position: relative;
}

.pagination {
  float: right;
}

.topPagination {
  line-height: 2rem;
  position: relative;
  top: 1px;
}

.bottomPagination {
  margin: 0.83em 0;
}

@media (max-width: 40em) {
  .pagination {
    float: none;
  }

  .topPagination {
    margin-top: 0.83em;
  }

  .bottomPagination {
    margin-top: 1.5em;
  }
}

.RepoInfo + .RepoInfo {
  margin-top: 2.5rem;
}
