.Row {
  display: flex;
  line-height: 1.5;
  padding: 0.5em 0;
  position: relative;
}

.Row:nth-child(even)::before {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background-color: hsla(198, 45%, 10%, 0.04);
}

.label {
  flex: 0 0 33%;
  min-width: 10.5em;
  margin-right: 1.5em;
}

.content {
  flex: 1;
  margin-left: 0;
  font-weight: 600;
}

@media (max-width: 40em) {
  .Row {
    flex-direction: column;
  }

  .label {
    margin-bottom: 0.25em;
  }
}
