.App {
  max-width: 900px;
  min-width: 300px;
  margin: auto;
}

.Header {
  background-color: rgb(3, 47, 98, 0.9);
  color: white;
  font-size: calc(1rem + 1vw);
  text-align: center;
  padding: 0.7em 0;
}
