.App {
  max-width: 50rem;
  min-width: 20rem;
  min-height: 100vh;
  margin: auto;
}

.App__header {
  background-color: #1b4371;
  color: white;
  font-size: 2.25rem;
  text-align: center;
  padding: 0.6em 0;
}

@media (max-width: 50em) {
  .App__header {
    font-size: calc(1.25rem + 2vw);
  }
}

.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.85);
  font-size: 1.25rem;
}

.NavItem {
  float: left;
}

.NavItem__link {
  display: block;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 600;
  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
}

.NavItem__link:hover {
  color: white;
  background-color: rgb(255, 255, 255, 0.1);
}

.NavItem__link--active {
  color: white;
}

.Content {
  padding: 1rem;
  overflow-x: hidden;
}

.SearchForm {
  margin-top: 1.5rem;
}

.SearchForm__instructions {
  margin-top: 0.6rem;
  opacity: 0.8;
}

.TextInput {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: #0e1e25;
  border: 1px solid #a2a9b1;
  border-radius: 6px;
  outline: none;
  width: 12em;
  height: 1.5em;
  padding: 7px 14px;
}

.TextInput::placeholder {
  color: darkgray;
}

.TextInput:hover {
  border-color: #72777d;
}

.TextInput:focus {
  border-color: #3366cc;
  box-shadow: inset 0 0 0 1px #3366cc;
}

@media (max-width: 40em) {
  .TextInput {
    width: 10em;
  }
}

.Button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
  background-color: #3078ca;
  color: white;
  outline: none;
}

.Button:not(:disabled) {
  cursor: pointer;
}

.Button:hover:not(:disabled) {
  background-color: #22548e;
}

.Button:disabled {
  opacity: 0.65;
}

.Button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3078ca;
}

.Message {
  margin-top: 3.5rem;
  font-weight: 600;
}

.Message__error {
  color: red;
}

.Loading {
  margin-top: 3.5rem;
  font-weight: 600;
}

.UserInfo {
  margin-top: 3.5rem;
}

.Avatar {
  height: auto;
  vertical-align: middle;
}

.Avatar--user {
  border-radius: 50%;
}

.RepoList {
  margin-top: 3.5rem;
}

.RepoList__pagination {
  float: right;
}

.RepoList__pagination--top {
  line-height: 2rem;
  position: relative;
  top: 1px;
}

@media (max-width: 40em) {
  .RepoList__pagination {
    float: none;
  }

  .RepoList__pagination--top {
    margin-top: 0.83em;
  }
}

.Pagination {
  font-size: 1.17rem;
  font-weight: 400;
  white-space: nowrap;
}

.Pagination__link {
  font-weight: 600;
}

.Pagination__link--disabled {
  pointer-events: none;
  opacity: 0.65;
}

.Pagination__link.Link:hover {
  text-decoration: none;
  color: #024ca0;
}

.RepoInfo + .RepoInfo {
  margin-top: 2.5rem;
}

.HistoryRow__timestamp {
  opacity: 0.65;
}

.LargeHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.83em 0;
}

.SmallHeading {
  font-size: 1.17rem;
  font-weight: 700;
  margin: 0.83em 0;
}

.SmallHeading--largeMarginTop {
  margin-top: 1.67em;
}

.Row {
  display: flex;
  line-height: 1.5em;
  padding: 0.5em 0;
  position: relative;
}

.Row:nth-child(even)::before {
  content: " ";
  position: absolute;
  left: -1rem;
  right: -1rem;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background-color: hsla(198, 45%, 10%, 0.04);
}

.Row__label {
  flex: 0 0 33%;
  min-width: 10.5em;
  margin-right: 1.5em;
}

.Row__content {
  flex: 1;
  margin-left: 0;
  font-weight: 600;
}

@media (max-width: 40em) {
  .Row {
    flex-direction: column;
  }

  .Row__label {
    margin-bottom: 0.25em;
  }
}

.Link {
  color: #0366d6;
  text-decoration: none;
  white-space: nowrap;
}

.Link:hover {
  text-decoration: underline;
}
